PORT=5050
NODE_ENV=development
DB_HOST=gateway01.ap-southeast-1.prod.aws.tidbcloud.com
DB_PORT=4000
DB_USER=your_username.root
DB_PASSWORD=your_password
DB_NAME=test
JWT_SECRET=your_jwt_secret_key
SESSION_TIMEOUT_MS=900000
